<div>
    <h1>Presentations</h1>
    Select Day: <select ng-model="confDay" ng-options="day as day for day in $root.confDaysAndAll"></select>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Presenter</th>
                <th>Room</th>
                <th>Day</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="presentation in presentations">
                <td>{{presentation.name}}</td>
                <td>{{presentation.presenter}}</td>
                <td><a href="#/droom/{{presentation.roomNumber}}">{{presentation.roomNumber}}</a></td>
                <td>{{presentation.conferenceDay}}</td>
            </tr>
        </tbody>
    </table>
    <a href="#/addpresentation" class="btn btn-primary">Add</a>

</div>