<div>
    <h1>Room</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Building</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in rooms">
                <td><a href="#/droom/{{room.number}}">{{room.number}}</a></td>
                <td>{{room.name}}</td>
                <td>{{room.building}}</td>
            </tr>
        </tbody>
    </table>

</div>